

  <form [formGroup]="courseForm" (ngSubmit)="onSubmit()" class="example-form">


  <mat-divider></mat-divider>




  <div class="example-container">


    <mat-form-field hintLabel="Max 24 characters" appearance="standard">
      <mat-label>Course Name</mat-label>
      <input matInput #input maxlength="24" placeholder="Yoga..." formControlName="course">
      <mat-hint align="end">{{input.value?.length || 0}}/24</mat-hint>
    </mat-form-field>

    <p></p>


    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Mark</mat-label>
      <input mdInput type="number" matInput placeholder="Mark" [value]="80" min="0" max="100" step="1"  formControlName="mark">
    </mat-form-field>

    <p></p>

    <mat-form-field class="example-full-width" appearance="standard">
      <mat-label>Points</mat-label>
      <input mdInput type="number" matInput placeholder="Points" min="0" max="12" step="0.5" formControlName="points">
    </mat-form-field>


    <p></p>

    <mat-form-field appearance="standard" >
      <mat-label>Semester</mat-label>


      <mat-select  [(value)]="selectedSemester" formControlName="semester" >
        <mat-option [value]="semester" *ngFor="let semester of semesters">{{ semester }}
        </mat-option>

      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>


    <p></p>

    <mat-form-field appearance="standard">
      <mat-label>Year</mat-label>
      <mat-select [(value)]="selectedYear"  formControlName="year" >
        <mat-option [value]="item"  *ngFor="let item of numbers" value="option">{{item}}</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>


  </div>


  <div style="margin-top: 2rem;"></div>

  <section>
    <div class="example-button-row">
      <button type="submit" mat-stroked-button color="primary">Add</button>
    </div>
  </section>


</form>