<form class="example-form">


  <!-- <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Average</mat-label>
      <input mdInput type="number" [formControl]="averageControl" matInput placeholder="Average" [value]="avrg"
        [min]="avrg" max="100" step="0.5">
    </mat-form-field> -->


  <mat-divider></mat-divider>



  <!-- <mat-divider></mat-divider>
  
  
    <mat-divider></mat-divider>
  
  
  
    <mat-divider></mat-divider>
  
    <mat-divider></mat-divider> -->

  <div class="example-container">
<!--    -->


    <p></p>

    <mat-form-field hintLabel="Max 24 characters" appearance="standard">
      <mat-label>Course Name</mat-label>
      <input matInput #input maxlength="24" placeholder="Yoga...">
      <mat-hint align="end">{{input.value?.length || 0}}/24</mat-hint>
    </mat-form-field>

<p></p>


<mat-form-field class="example-full-width" appearance="standard">
  <mat-label>Mark</mat-label>
  <input mdInput type="number" matInput placeholder="Mark" [value]="80"
    min="0" max="100" step="1">
</mat-form-field>

<p></p>


<!-- 
<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Average</mat-label>
  <input mdInput type="number" [formControl]="averageControl" matInput placeholder="Average" [value]="avrg"
    [min]="avrg" max="100" step="0.5">
</mat-form-field> -->



<p></p>

    <mat-form-field appearance="standard">
      <mat-label>Semester</mat-label>
      <mat-select>
        <mat-option value="option">A</mat-option>
        <mat-option value="option">B</mat-option>
        <mat-option value="option">C</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>


  <p></p>

    <mat-form-field appearance="standard">
      <mat-label>Year</mat-label>
      <mat-select >
        <mat-option *ngFor="let item of numbers" value="option">{{item+1}}</mat-option>
      </mat-select>
      <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
    </mat-form-field>
    

  </div>

  <p>
    <mat-form-field appearance="standard">
      <mat-label>Standard form field</mat-label>
      <input matInput placeholder="Placeholder">
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>


  <section>
    <div class="example-button-row">
      <button mat-stroked-button color="primary" (click)="foo()">Primary</button>
    </div>
  </section>


</form>