<div class="low  morePadding">
  <div>


    <!-- <p> Average : {{ showWith2PointsAfterDecimal(average) }} </p> -->
    <!-- <h2>  A<span style="color: red;">v</span>er<span style="color: green;">age</span> : {{ showWith2PointsAfterDecimal(average) }} </h2> -->
    
    <!-- <div class=""> -->

      <h1 class="thick-txt">  Average : {{ showWith2PointsAfterDecimal(average) }} </h1>
    <!-- </div> -->
    <!-- <br> -->
 
    <h3 class="underline-points">Points : {{ points }}</h3>
    <p> </p>
    <h2> ==> {{ showWith2PointsAfterDecimal(averageChanged) }} <== </h2>

  </div>

</div>