<mat-toolbar color="primary">

  <span > <a routerLink="/"> Averages </a></span>

  <span style="margin-left: 4rem;"><a  mat-button routerLink="/statistic" routerLinkActive="mat-accent">Statistic</a>
  </span>

  <span style="margin-left: 4rem;"><a  mat-button routerLink="/addcourse" routerLinkActive="mat-accent" >Add Course</a>
  </span>

  
  <span class="spacer"></span>
  <ul>
    <li>
      <a mat-button routerLink="/statistic" routerLinkActive="mat-accent">New Post</a>
    </li>

  </ul>

</mat-toolbar>